#cabecera{
  	width: 100%;
    height: 80px;
    background-color:#CCFFFF;
}

h1{
    text-align: center;
    color: black;
    font-family: 'Princess Sofia', cursive;
    background-color:#CCFFFF;
}
#menu{
	margin-top:30px;
	width: 100%;
	<!--background-color:#CCFFFF;-->
}